@{
    ViewBag.Title = "Bot";
    
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<body>
    @*<div id="wrapper">
        <div class="content">

            <div class="block1">

                bot token <input type="text" />

            </div>


            <div class="block2">

                Title      <input type="text" />

            </div>
            <div class="block3">

                Description      <input type="text" />

            </div>
        </div>
        
    </div>*@
   
    <div class="row">

        <div class="col-md-4"></div>
   

        <div class="col-md-4">

            <div id="wrapper" class="content">
                <table class="table table-striped table-inverse">
                    <thead>

                        <tr>
                            <th>#</th>
                            <th>Token Name</th>
                            <th>Button Input</th>



                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th>
                                bot token
                            </th>
                            <th>     <input type="text" /></th>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <th>
                                Title
                            </th>
                            <th>     <input type="text" /></th>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <th>
                                Description
                            </th>
                            <th>     <input type="text" /></th>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
            <div class="col-md-4"></div>



        </div>

</body>
